html>body{
	background-color:white;
}

body .chat{
	width:37%;
	height:72%;
	position:fixed;
	bottom:0px;
	right:5%;
	box-shadow: 0px 0px 9px 1px rgb(226, 226, 226);
	border-top-right-radius: 13px;
    border-top-left-radius: 13px;
	min-width: 500px;
}

div.chat div.header {
	background-color: rgb(64, 64, 64);
	position:absolute;
	width:100%;
	border-radius:13px;
}

div.chat div.header ul div.title{
	display: none;
    position: relative;
}

div.chat div.header ul li:hover div.title{
	display: block;
}

div.chat div.header ul div.title p{
	color: white;
    position: absolute;
    padding: 4px 10px;
    z-index: 6;
    box-sizing: border-box;
    width: max-content;
    top: -7px;
    left: -30px;
    background-color: rgb(80,83,86);
    border-radius: 6px;
}

ul.menu{
	list-style-type: none;
	float:right;
	margin-right:15px;
	margin-top:8px;
}

ul.menu li{
	float:left;	
	margin-left:15px;
}

li a i {
	color:rgb(179, 179, 179);
}

ul.menu li a{
	display:block;
	text-align:center;
	text-decoration:none;
	padding:2px;
}

.header h4{
	float:left;
	color:white;
	margin-left:20px;
	margin-top:10px;
	font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
	font-size: 14px;
}
ul.menu li a:hover{
	background-color:rgb(89, 89, 89);
}

ul.menu li a:hover i{
	color:white;
}


.inherit{
	position:absolute;
	width:100%;
	box-sizing:border-box;
	border:none;	
}
div.chat div.body{
	top:37px;
	bottom:0px;
}
.body textarea{
	padding:8px;
	font-size:15px;
	padding-left:20px;
	font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
	color:;
	resize:none;
}

.body textarea:focus{
	outline:none;
}

div.chat div.body div.to{
	top:0px;
}

div.chat div.body div.subject{
	top:36px;
}
div.chat div.body div.letter{
	top:72px;
	bottom:60px;
}
div.chat div.body div.letter div.edit{
		position:absolute;
		right:15px;
		bottom:6px;
}

div.body div.letter div.edit i{
	background-color: #15c39a;/*rgb(20, 195, 154);*/
    color: white;
    padding: 10px;
    border-radius: 50%;	
}

div.chat div.body div.letter textarea{
	top:0px;
	bottom:0px;
}
div.chat div.body div.footer{
	background-color:white;
	bottom:0px;
}

div.body hr.border{
	position: absolute;
    width: 92%;
    margin-left: 4%;
    margin-right: 4%;
    box-sizing: border-box;
    top: 26px;
    border: none;
    box-shadow: 0px 2px 0px 1px #edeef6;
}

div.body div.footer div.left{
    float: left;
    position: relative;
    margin-left: 15px;
}

div.body div.footer ul.menu{
	padding-left:0px;
	box-sizing:border-box;
	margin-top: 5px;
} 
div.body div.footer ul.menu a{
	padding:5px;
}

div.body div.footer div.right{
	float:right;
}

.styleSend{
	background-color: #1a73e8;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 14px;
    height: 36px;
    border: none;
}
div.footer div.left div.dropup{
	float: left;
	margin-right:15px;
}

div.footer div.left div.dropup button.send{
	border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
div.footer div.left div.dropup button.dropicon{
	border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    position: absolute;
    padding: 5px;
    border-left: 1px solid #185abc;
	color:white;
}
div.footer div.left div.dropup i{
	color:white;
}
div.footer ul li i{
	color:#737373;
	/*#444;*/
}
/*
div.footer ul.menu li a{
	margin: 7px 0px;
}
*/
.body .menu a:hover {
    background-color: rgb(228, 228, 228); /*rgb(241, 243, 244);*/
}
.body .menu a:hover i {
	color:black;
}

.dropup .content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 150px;
  box-shadow: 1px 3px 11px 3px rgba(0,0,0,0.2);
  top:-45px;
}


div.left div.droupup button.dropicon:hover .content {
	display: block;
}

div.footer div.left div.dropup div.content a{
	margin: 3px 0;
	float: none;
	color: black;
	padding: 10px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

div.chat div.footer div.title{
	display: none;
    position: relative;
}

div.chat div.footer ul li:hover div.title{
	display: block;
}


div.chat div.footer button:hover+ div.title{
	display: inline;
    top: 23px;
    left: -39px;
}

div.chat div.footer div.dropup button:hover  {
	box-shadow: 0px 0px 2px 0px rgb(41,123,230);
}

div.chat div.footer div.title p{
	color: white;
    position: absolute;
    padding: 4px 10px;
    z-index: 6;
    box-sizing: border-box;
    width: max-content;
    top: -75px;
    left: -50px;
    background-color: rgb(80,83,86);
    border-radius: 6px;
}


/*
.dropdown {
  float: left;
  overflow: hidden;
}

div.body div.subject hr.limit{
	top:30px;	
}



*/
